Screen {
    align: center top;
}

#main {
    width: 80;
}

#info-row {
    height: 7;
    width: 100%;
}

Cycles {
    width: 1fr;
    padding: 1 2;
    background: $panel;
    border: $secondary tall;
    content-align: center middle;
}

Current_Session {
    width: 1fr;
    padding: 1 2;
    background: $panel;
    border: $secondary tall;
    content-align: center middle;
}

Stopwatch {
    layout: horizontal;
    background: $boost;
    height: 5;
    min-width: 50;
    margin: 1;
    padding: 1;
}

TimeDisplay {
    text-align: center;
    color: $foreground-muted;   
    height: 3;
}

Button {
    width: 16;
}

#start {
    dock: left;
}

#pause {
    dock: left;
    display: none;
}

#reset {
    dock: right;
}

.started {   
    background: $success-muted;
    color: $text;
}

.started TimeDisplay {
    color: $foreground;
}

.started #start {
    display: none
}

.started #pause {
    display: block
}

.started #reset {
    visibility: hidden
}

